@import "@/styles/mixin.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  max-width: 1440px;
  margin-inline: auto;

  .logo {
    width: 66px;
    height: auto;

    img {
      width: 100%;
      height: 100%;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    a {
      color: var(--dark-300) !important;

      &:hover {
        transform: scale(1.1);
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        background-color: var(--secondary);
        color: var(--light);
      }
    }
  }
}
