@import "@/styles/mixin.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  max-width: 1440px;
  margin-inline: auto;

  // .logo {
  //   width: 66px;
  //   height: auto;

  //   img {
  //     width: 100%;
  //     height: 100%;

  //     &:hover {
  //       transform: scale(1.1);
  //       cursor: pointer;
  //     }
  //   }
  // }

  h3 {
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  // a {
  //   color: var(--dark) !important;

  //   &:hover {
  //     transform: scale(1.1);
  //   }
  // }

  .navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      a {
        color: var(--dark-300) !important;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      .themeIcon {
        height: 4rem;
        width: auto;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .download {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        background-color: var(--secondary);
        color: var(--button-text);
      }
    }

    @include lt-md {
      display: none;
    }
  }

  .hamburgerMenu {
    display: none;

    img {
      height: 4rem;
      width: auto;
    }

    @include lt-md {
      display: block;
    }
  }

  @include lt-lg {
    padding-inline: 5rem;
  }

  @include lt-md {
    padding-inline: 5rem;
  }

  @include lt-sm {
    padding-inline: 2rem;
  }
}
