@import "@/styles/mixin.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  max-width: 1440px;
  margin-inline: auto;
  padding: 12rem 10rem;

  @include lt-lg {
    padding-inline: 5rem;
  }

  @include lt-md {
    padding-block: 8rem;
  }

  @include lt-sm {
    padding: 8rem 2rem;
  }

  .sectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .sectionTitle {
      background-color: var(--primary);
      border-radius: 1.5rem;
      padding: 0.5rem 2.5rem;
      width: auto;

      span {
        color: var(--light);
      }
    }

    span {
      color: var(--dark-300);
      text-align: center;
    }
  }

  .techStack {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    gap: 6rem;

    @include lt-md {
      grid-template-columns: repeat(4, 1fr);
    }

    @include lt-sm {
      grid-template-columns: repeat(3, 1fr);
    }

    .technology {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      &:hover {
        transform: scale(1.1);

        @include lt-md {
          transform: none;
        }
      }

      img {
        height: 8rem;
        width: 8rem;
        cursor: pointer;
      }

      span {
        color: var(--dark-300);
        cursor: pointer;
      }
    }
  }
}
