@import "@/styles/mixin.scss";

.svgIconButton {
  background: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  @include lt-sm {
    &:hover {
      transform: none;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
